:root{
    --primaryColor: hsl(94, 55%, 56%);
    --hoverColor: hsl(93, 75%, 76%);
    --paleGreen: hsl(96, 75%, 89%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --grayText: hsl(0, 2%, 22%);
    --bgColor: hsl(111, 11%, 85%);
    --inputColor: hsl(330, 12%, 97%);

    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --nomalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}

.listingSection {
    position: relative; // Make the topSection stick to the top and left
    padding-top: 0px;

    .input {
        padding-top: 10px; // If you want to add space above the entire input section
        display: flex;
        align-items: center; // Align items vertically in the center

        h1 {
            margin-top: 0; // Adjust this value as needed to move the text down
            margin-right: 10px; // Add space between h1 and DateSelector
            font-size: var(--nomalFontSize);
            color: var(--textColor);
            font-weight: 500;
        }
    }

    .inputdata {
        padding-top: 10px; // If you want to add space above the entire input section
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        background-color: var(--primaryColor);
        color: var(--whiteColor);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
        span {
            margin-right: 5px;
        }
        &:hover {
            background-color: var(--hoverColor);
        }
    }
}
