:root{
    --primaryColor: hsl(94, 55%, 56%);
    --hoverColor: hsl(93, 75%, 76%);
    --paleGreen: hsl(96, 75%, 89%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --grayText: hsl(0, 2%, 22%);
    --bgColor: hsl(111, 11%, 85%);
    --inputColor: hsl(330, 12%, 97%);

    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --nomalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}

.topSection {
    position:absolute; // Make the topSection stick to the top and left
    top: 0; // Position it at the top of its parent container
    left: 0; // Position it at the left of its parent container
    background: var(--whiteColor);
    box-shadow: 1px 0px 5px var(--grayText);
    width: 100%;
    height: 9%;
    gap: 2rem;
    overflow: auto;
    

    .headerSection {
        display: flex;
        justify-content: space-between;
        align-items: center; // Ensure items in headerSection are vertically aligned

        .title {
            padding-left: 20%; // Push the content 30% from the left
            padding-top: 2%;
            display: flex;
            align-items: center; // Vertically align items
            justify-content: flex-start; // Align items to the start (left)
            width: auto;

            .icon {
                margin-right: 0.5rem; // Add space between the icon and the text
            }

            h1 {
                margin: 0; // Reset default margin
                font-size: var(--nomalFontSize);
                color: var(--textColor);
                font-weight: 500;
            }
        }

        .titleusername{
            padding-right: 10%; // Push the content 30% from the left
            padding-top: 2%;
            display: flex;
            align-items: center; // Vertically align items
            justify-content: flex-start; // Align items to the start (left)
            width: auto;

            .icon {
                margin-right: 0.5rem; // Add space between the icon and the text
            }

            h1 {
                margin: 0; // Reset default margin
                font-size: var(--nomalFontSize);
                color: var(--textColor);
                font-weight: 500;
            }
        }
    }
}

